fastapi
uvicorn
python-multipart
langchain
langchain-openai
langchain-community
langchain-core
chromadb
pandas
numpy
requests
httpx
redis[hiredis]
inflect
torch
torchvision
transformers
scikit-learn
tqdm
python-dotenv
openai
Pillow
ultralytics
opencv-python-headless
timm
pyzbar
