fastapi
uvicorn
python-multipart
langchain
langchain-openai
langchain-community
langchain-core
chromadb
pandas
numpy
requests
inflect
torch
torchvision
transformers
scikit-learn
tqdm
python-dotenv
openai
